body {
  background-color: dimgray;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
}
h1 {
  color: aqua;
  width: 100%;
  text-align: center;
}
.cadast {
  color: white;
  position: absolute;
  text-align: center;
  width: 100%;

  left: 0px;
  line-height: 30px;
}

footer {
  color: white;
  bottom: 0px;
  left: 0px;
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: black;
  font-size: 18px;
  text-transform: capitalize;
}
